// !default example
@use 'module1' as m1 with (
  $fontColor: #cd29ff
);

// built-in variables
@use "sass:math" as math;
@debug math.$e;
@debug math.$pi;

// math.$e: 0; // Error: Cannot modify built-in variable.

// basic usage
$color1: #00ff00; // is not presented in css output

.main-container {
  background-color: $color1;
}

// not updates previous values
$fontSize: 18px;
.title {
  font-size: $fontSize;
}
$fontSize: 14px;
.subtitle {
  font-size: $fontSize;
}

// 
.button {
  @include m1.button();
}



