// !default example
@use 'module1' as m1 with (
  $fontColor: #cd29ff
);

// built-in variables
@use "sass:math" as math;
@debug math.$e;
@debug math.$pi;

// math.$e: 0; // Error: Cannot modify built-in variable.

// basic usage
$color1: #00ff00; // is not presented in css output

.main-container {
  background-color: $color1;
}

// does not update previous values
$fontSize: 18px;
.title {
  font-size: $fontSize;
}
$fontSize: 14px;
.subtitle {
  font-size: $fontSize;
}

// just mixin usage
.button {
  @include m1.button();
}

// global vs local scope
$var1: 'global value';

.p1::before {
  $var1: 'local value';
  content: $var1;
}

.p2::before {
  content: $var1;
}

// !global 
$var2: 'global value 1';

.p1::before {
  $var2: 'global value 2' !global;
  content: $var2;
}

.p2::before {
  content: $var2;
}




