// basic usage
$color1: #00ff00; // is not presented in css output

.main-container {
  background-color: $color1;
}

// not updates previous values
$fontSize: 18px;
.title {
  font-size: $fontSize;
}
$fontSize: 14px;
.subtitle {
  font-size: $fontSize;
}

// 




